.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(236, 246, 246);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  height: max-content;
  margin-bottom: 1rem;
}

.search-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.p-inputnumber-input {
  background: #ffffff;
  width: 12rem;
  border-radius: 6px !important;
  text-align: center;
  margin-bottom: 0 !important;
  height: 100% !important;
}

.p-dropdown {
  background: #ffffff;
  width: 9rem;
  border-radius: 6px;
  text-align: center;
}

.p-button {
  width: fit-content;
  border-radius: 8px;
}

.plus-icon-button {
  width: 50%;
  height: 50%;
  margin: 20%;
  color: rgb(34, 191, 188);
  background-color: rgb(207, 211, 214);
  border: none;
}

.card-dialog {
  background-color: rgb(201, 221, 238);
  width: 35%;
  height: fit-content;
}

.header-input {
  display: block;
  margin-bottom: 2px;
  text-align: left;
  width: 77%;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.field-value,
.p-inputnumber-input {
  margin-bottom: 8%;
  border-radius: 10px;
  text-align: center;
  height: 30px;
}

.p-button-cancel {
  border-radius: '6px';
  text-align: 'center';
  background-color: dodgerblue;
  border: none;
}

.create-user-button {
  color: white;
  background-color: rgb(36, 171, 108);
  border: none;
}

.p-button-create,
.p-button-update {
  border-radius: '6px';
  text-align: 'center';
  background-color: rgb(115, 192, 71);
  border: none;
}

.p-button-delete {
  width: 50px;
  border-radius: '6px';
  text-align: 'center';
  background-color: rgb(225, 67, 67);
  border: none;
}

.p-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.actions {
  display: flex;
  height: 50px;
  margin: auto;
  margin-bottom: 25px;
}

.p-datatable {
  margin-top: 0.2rem;
  width: 97%;
  height: 70%;
  border: 1px solid #ddd;
  background-color: #f8f6f6;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.p-row-odd {
  background-color: #f9f9f9;
}

.p-datatable thead th {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.p-paginator {
  margin-top: 30px;
}
